* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nekst-Medium";
}

body {
  min-height: 100vh;
  color: #ffffff;
  padding: 1rem;

  .bg-container {
    .purple {
      top: -17vh;
      left: -48vw;
      right: auto;
    }

    .green {
      top: 90vh;
      left: -14vw;
    }
  }
}

.back-button {
  position: absolute;
  top: 30px;
  left: 52px;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;

  @media (max-width: 480px) {
    & {
      left: 1rem;
    }
  }
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 9rem auto;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;

    @media (max-width: 480px) {
      & {
        font-size: 2rem;
      }
    }
  }

  .subtitle {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 1.5rem;
    position: relative;

    input[type="email"],
    input[type="password"],
    input[type="text"] {
      width: 100%;
    }

    input:focus {
      outline: none;
    }

    .password-field span {
      position: absolute;
      top: 25px;
      right: 16px;
      font-size: 18px;
      opacity: 0.2;
    }

    .error {
      color: #dc3545;
      position: absolute;
      bottom: -1.3em;
      left: 2em;
      user-select: none;
    }
  }

  .forgot-password {
    text-align: right;
    margin-bottom: 1.5rem;

    a {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      font-size: 0.9rem;
    }
  }

  .remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;

    div {
      display: flex;
      align-items: center;
    }

    input {
      margin-right: 5px;
    }
  }

  .button {
    width: 100%;
  }

  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
    color: rgba(255, 255, 255, 0.6);

    span {
      padding: 0 1rem;
    }

    &::before,
    &::after {
      content: "";
      flex: 1;
      border: solid 1px;
      border-bottom: 0px;
      border-image: linear-gradient(90deg, transparent 10%, #fff 200%);
      border-image-slice: 1;
    }

    &::after {
      border-image: linear-gradient(270deg, transparent 10%, #fff 200%);
      border-image-slice: 1;
    }
  }

  .sign-in-google img {
    width: 17px;
    margin-left: 6px;
  }

  .signup-prompt {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 0.8);

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
      margin-left: 0.5rem;
    }
  }

  @media (max-width: 480px) {
    & {
      margin: 1rem auto;
      margin-top: 5rem;
    }
  }
}
