<div style="min-width: 100vw; min-height: 100vh; display: flex; justify-content: center;">
  <div style="flex-grow: 1; margin: 1% 1% 0 1%; background-color: #03030346;
  backdrop-filter: blur(15px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;">
    <div style="margin: 0.65% 5.9%;">
      <div style="height: 348px; border-radius: 15px; background-color: var(--dark); outline: dashed 1px #ffffffa4;
      outline-offset: -7px; background-image: radial-gradient(circle at 25% 0%, #7237f294 0%, transparent 60%),
      radial-gradient(circle at 75% 100%, #3effd857 0%, transparent 40%); position: relative; display: flex; justify-content: space-between;
    clip-path: border-box;    user-select: none;
    pointer-events: none;">
        <div style="position: relative; z-index: 2;font-size: 34px; font-family: 'Nekst-Medium'; font-weight: 600; color: #FFF; margin-left: 4%;
            text-shadow: 4px 4px 10px #000;display: flex
;
    flex-direction: column;
    justify-content: center;">
            <p>JOIN THE CONTEST<br/>AND WIN <span style="color: #79e7cd;">IPHONE 15</span></p>
            <div style="font-size: 18px; font-weight: 300; display: flex;">
                <div style="display: flex
                ;
                    flex-direction: column;
                    align-items: center;">
                    <span>DEADLINE</span>
                    <div style="    padding: 16px 20px;
                    border-radius: 50px;
                    background-color: #FFFFFF1F;
                    display: flex
                ; align-items: center; margin-top: 12px;">
                        <icon [iconName]="icons.calendar" />
                        <span style="margin-left: 10px;">10.07.24</span>
                    </div>
                </div>
                <div style="display: flex
                ;
                    flex-direction: column;
                    align-items: center;    margin-left: 22%;">
                    <span>WINNERS</span>
                    <div style="    padding: 16px 20px;
                    border-radius: 50px;
                    background-color: #FFFFFF1F;
                    display: flex
                ; align-items: center; margin-top: 12px;">
                        <icon [iconName]="icons.mark" />
                        <span style="margin-left: 5px;">5</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: relative; z-index: 1; display: flex;
            align-items: flex-end;
            margin-right: 4%;
            width: 50%;
            justify-content: flex-end;">
            <img src="/assets/iphone.png" />
            <img src="/assets/present-1.png" style="position: absolute;     right: 45%;
            top: 45%;
            z-index: -1;" />
            <img src="/assets/present-2.png" style="position: absolute;    right: 65%;
            top: 20%;
            z-index: -1;" />
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
